# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo

playwright-report

legacy/roundup/a
legacy/roundup/index.html
legacy/_next
legacy/404
legacy/roundup1
legacy/roundup3
legacy/roundup5
legacy/404.html
legacy/favicon.ico
legacy/roundup1/
test-results/
